h2 {
    width: 33.33%;
    text-align: center;
    
}

.navbar {
    background-color: orange;
    color: white;
    box-shadow: 5px 4px 8px 5px rgba(0, 0, 0, 0.2), 5px 6px 20px 5px rgba(0, 0, 0, 0.19);
}

.navbar-brand {
    font-size: 35px;
    font-weight: bold;
}

.mid {
    font-size: 30px;    
}

.scores {
    font-size: 30px;    
}